/* ======================= */
/* ESTILOS 404 */
/* ======================= */

body {
    background: url('../media/images/404-ligthmode.jpg') no-repeat center center fixed;
    background-size: 50%; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la ventana */
    margin: 0;
    background-color: #E0E0D4;
}

/* Fondo de la imagen dentro del div */
.background-image {
    position: absolute;
    top: 50%;  /* Centrar verticalmente */
    left: 50%;  /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar al centro */
    width: 100%;
    max-width: 600px;  /* Tamaño controlado */
    height: auto;
    background-image: url("../media/images/404-lightmode.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Opacidad del 50% */
    z-index: -1; /* Se coloca detrás del contenido */
}

/* Contenedor principal */
.contenedor-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Contenedor del mensaje */
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

/* Texto de error */
.texto-error h1 {
    font-family: 'Lemon Juice', Arial, sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
}

/* Texto complementario */
.texto-complementario p {
    font-family: 'Quicksand_Bold', Arial, sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
}

/* Huella enlazada a la página principal */
.paw-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paw-logo img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
    animation: rotate 5s infinite linear;
}

.paw-logo img:hover {
    transform: scale(1.2) rotate(600deg);
}